body {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 180px;
    width: 1000px;
    height: 1800px;
    background: #964;
    box-shadow: 10px 10px 10px #ccc;
}

.header {

    background: blue;
    width: 1000px;
    height: 100px;

}
h1 {
    text-align: center;
    color: ivory;
    padding-top: 35px;
}
.img {
    margin-left: 50px;
    width: 223px;
    height: 220px;
    border: 3px solid rgb(0, 150, 250);
    background: url(img/business-icon.jpg) no-repeat;
    box-shadow: 10px 10px 5px #ccc;
}
h2 {
    margin-left: 20px;
    text-shadow: 2px 2px 5px red;
}
.img-1 {
    margin-left: 50px;
    width: 223px;
    height: 220px;
    border: 3px solid rgb(253, 229, 10);
    background: url(img/business-icon.jpg) no-repeat;
    box-shadow: 10px 10px 5px #ccc;
    border-radius: 25px;
  }
  .img-2 {
      margin-left: 50px;
      width: 223px;
      height: 220px;
      border: 2px solid aqua;
      background: url(img/business-icon.jpg) no-repeat;
      box-shadow: 10px 10px 5px #ccc;
      border-radius: 190px;
  }
  .img-3 {
    margin-left: 50px;
    width: 223px;
    height: 220px;
    border:2px solid rgb(3, 253, 57);
    background: url(img/business-icon.jpg) no-repeat;
    box-shadow: inset 10px 10px 50px rgb(133, 89, 32);
  }
  .img-4 {
    margin-left: 50px;
    width: 223px;
    height: 220px;
    border:2px solid rgb(253, 4, 128);
    background: url(img/business-icon.jpg) no-repeat;
    color:#000;
    font-size: 40px;
    box-shadow: 10px 10px 50px #ccc;
  }
  .img-5 {
      margin-left: 50px;
      width: 223px;
      height: 220px;
      border: 2px solid blue;
      background: url(img/business-icon.jpg) no-repeat;
      /* box-shadow: 0px -10px 30px #ccc; */
      border-top-left-radius: 75px;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      transition: 0.7s;
  }
  .img-5:hover{
box-shadow: 5px 5px 5px 5px #ccc;
  }
  .footer {
      width: 1000px;
      height: 200px;
      background: blue;
  }
  h4 {
     text-align: center;
     color: lawngreen;
     padding-top: 143px;
  }

